@charset "utf-8";
/* CSS Document */

/* Set up a flex frid container similar to work based on rows and columns */
.row {
  display: flex;
  flex-flow: row wrap;
}

.centered-row {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.column {
  /*flex-basis: 100%;*/
  flex: 1;
}

* {
  box-sizing: border-box;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 4.2rem;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  padding-top: 0.5rem;
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 1rem;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 1rem 4rem 1.6rem;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 40rem;
  width: 100vw;
  background-color: #ccc;
}
.limit-height-70 {
  max-height: 70vh;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100%;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 15pt;
  font-weight: normal;
  line-height: 1;
  padding-top: 1rem;
  margin: 0rem 1rem;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 2rem;
  letter-spacing: 0;
  margin: 1rem;
  padding: 0 1rem;
  width: 30%;
  min-width: 12rem;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-inline-start: 0;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  text-align: center;
  margin: 0.3em;
  padding-bottom: 2em;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 2rem 0 1rem;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 1.5rem 0 0;
  padding: 0.8rem 3rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 70vh;
  right: 0;
  top: 8rem;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 1.5rem 0 3rem;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	display: block;
  margin: 0;
  width: 100%;
  height: auto;
}
#restaurant-address {
  font-size: 12pt;
  margin: 1rem 0;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 1rem;
  margin: 0 0 2rem;
  padding: 0.2rem 0;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container, #reviews-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  justify-content: center;
  padding: 10px 0px 30px;

}
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 3rem 4rem 8rem;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 3rem;
  overflow: hidden;
  padding: 0 2rem 2rem;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 1rem;
}
#restaurant-hours td {
  color: #666;
}

@media screen and (min-width: 768px) {
  #restaurants-list li {
    width: 30em;
  }
  .inside #map-container {
    width: 50%;
    position: fixed;
  }
  #restaurant-container, #reviews-container {
    width: 50%;
    right: 0;
    padding: 1em;
  }
}

@media screen and (max-width: 768px) {
  #restaurants-list li {
    width: 30em;
  }
  .inside #map-container {
    width: 100vw;
  }
  #restaurant-container, #reviews-container {
    width: 100%;
    text-align: center;
  }
  #reviews-list li{
    width: 100%;
  }
}